.container {
  composes: container from global;
}

.pageHeader {
  font-size: 4rem;
  color: var(--accent);
  text-align: left;
  border-bottom: 2px solid var(--alt-accent);
  margin-bottom: 0.75rem;
}

.sectionHeading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sectionTitle {
  font-size: 2rem;
}

.sectionTitle a {
  color: var(--alt-accent);
  text-decoration: none;
  padding: 0.35rem 0.65rem;
  border-radius: 0.25rem;
}

.sectionTitle a:hover {
  background-color: rgb(0 0 0 / 10%);
}

.sectionLanguages {
  font-size: 1.25rem;
  opacity: 75%;
  font-weight: 400;
}

.sectionDescription {
  margin-top: 0;
  padding-left: 1.5rem;
  font-size: 1.2rem;
}

.sectionList {
  padding-left: 5rem;
}
