.albumArtContainer {
  position: relative;
  grid-column: 1;
  width: 192px;
  height: 192px;
  margin: 0;
  overflow: hidden;
  border-radius: 0.5rem;
}

@media (max-width: 640px) {
  .albumArtContainer {
    justify-self: center;
  }
}
