.projectTechs {
  font-size: 1.25rem;
  opacity: 75%;
  font-weight: 400;
  text-align: right;
  padding: 0.35rem 0.65rem;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  line-height: 2rem;
}

details .projectTechs::after {
  display: inline-block;
  width: 1.5rem;
  text-align: center;
}

details .projectTechs::after {
  content: "+";
}

details[open] .projectTechs::after {
  content: "-";
}
