.container {
  display: grid;
  grid-template-areas:
    "greeting greeting"
    "information side";
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  gap: 2rem 3rem;
  width: calc(100% - 2rem);
  max-width: 70rem;
  margin: 3rem auto;
}

@media (max-width: 48rem) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "greeting"
      "information"
      "side";
    gap: 1.5rem;
    margin-block: 2rem;
  }
}
