:root {
  --navbar-text: #eff1f3;
  --navbar-bg: #223843;
  --bg: #dbd3d8;
  --text: #000000;
  --accent: #449dd1;
  --alt-accent: #4d8b31;

  --sans: "Source Sans 3 Variable", Arial, sans-serif;

  font-family: var(--sans);
}

#navbar {
  background: var(--navbar-bg);
  color: var(--navbar-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 7rem;
}

#navbar #brand {
  font-size: 2rem;
  font-weight: bold;
}

#navbar #links {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  font-size: 1.2rem;
}

#root {
  text-align: center;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
}
