.card {
  display: grid;
  grid-template-areas:
    "heading"
    "body";
  border-radius: 0.75rem;
  background-color: rgba(0, 0, 0, 0.05);
  border-left: 3px solid var(--accent-dark);
  border-bottom: 2px solid var(--accent-dark);
  border-top: 1px solid var(--accent);
  border-right: 1px solid var(--accent);
  padding: 0.35rem 0.65rem;

  --duration: 300ms;
  interpolate-size: allow-keywords;
  transition: background-color var(--duration) ease;
}

.card + .card {
  margin-top: 0.75rem;
}

.card:has(> summary:hover) {
  background-color: rgb(0 0 0 / 0.1);
}

.card::details-content {
  height: 0;
  overflow: clip;
  opacity: 0;
  transition:
    height var(--duration) ease,
    opacity var(--duration) ease,
    content-visibility var(--duration) allow-discrete;
}

.card[open] {
  background-color: rgb(0 65 163 / 0.1);
}

.card[open]::details-content {
  height: auto;
  opacity: 1;
}

@media (prefers-reduced-motion: reduce) {
  .card {
    --duration: 0ms;
  }
}
